.empty-cart {
    color: #fff;
}

.cart-section {
    width: 60%;
    color: #fff;
}

.cart-summary {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    flex-direction: column;
    gap: 15px;
}

.checkout-btn {
    background-color: #af4c4c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.checkout-btn:hover {
    box-shadow: inset 0px 66px 0px 0 #650e0e8c;
}