header {
    display: flex;
    justify-content: space-between;
    padding: 6px 35px;
    align-items: center;
    background-color: #0000008a;
    position: fixed;
    width: 100%;
    color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
}



#logo img {
    width: 100px;
}

nav {
    display: flex;
    gap: 30px;    
    font-size: 18px;
    text-transform: capitalize;
}

nav ul
{
list-style: none;
padding: 0;
margin: 0;
display: flex;
gap: 40px;
}

.cart {
    cursor: pointer;
    position: relative;
    align-self: center; 
}

.cart .cart-tracker {
    position: absolute;
    border: 1px solid #fff;
    background: #36ae4e;
    color: #ffffff;
    border-radius: 11px;
    width: 18px;
    height: 18px;
    text-align: center;
    bottom: -5px;
    left: 11px;
    font-weight: bold;
    font-size: 14px;
    animation: rotate-fade-in 500ms ease-in-out;
}

nav li {
    height: 100%;
}

nav li > a {
    display: flex;
    height: 100%;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-sign {
    transition: 400ms;
}

.menu:hover .dropdown-sign {
    rotate: -182deg;
}

.dropdown-content {
    position: absolute;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    min-width: 160px;
    display: none;
    z-index: 1;
    color: #000;
}

.dropdown-content a:hover {
    background: #e1e1e1;
}

.dropdown-content a {
    padding: 6px;
    transition: 200ms ease-in-out;
}

.dropdown-content a:not(:last-child) {
    border-bottom: 1px solid #eee;
}


.menu {
    position: relative;
}


.menu:hover .dropdown-content {
    display: flex;
}


.dropdown img {
    height: 60%;
}

@keyframes rotate-fade-in {
    0% {
        rotate: 0deg;
        opacity: 0;
    }

    33% {
        rotate: 80deg;
        opacity: 33%;
    }

    66% {
        rotate: -80deg;
        opacity: 66%;
    }
    100% {
        rotate: 0deg;
        opacity: 100%;
    }
}

@media (max-width: 600px) {
    nav ul{
        gap: 25px;
    }

    nav {
        gap: 10px;
    }
}