

.shop-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width: 600px) {

}

@media (max-width: 500px) {
    .shop-items {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

}
